/**
.welcomeText {
    width: 50%;
    height: 100%;
    margin-top: 2%;
    justify-content: start;
}

.section-container {
    width: fit-content;
    height: 100vh;
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%);
    box-shadow: 4.95px 4.95px 24px black;
    /* min-width: 100vw;
    min-height: 100vh;
    max-width: 100vw;
    max-height: 100vh; 
    display: flex;
    flex-direction: column;
    background-origin: padding-box;
    background-clip: border-box;
}

.signUpSection {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    

}

.registration-container {
    width: fit-content;
    height: fit-content;
    overflow: visible;
    display: block;
    /* justify-content: end; 
}
*/